<div class="container">
  <div class="row justify-content-center">
    <h2>Formulario Reactivo de Vuelos - Inyeccion de Dependencias</h2>
  </div>
  <br>
  <form [formGroup]="vueloForm" (ngSubmit)="add()">
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <input class="form-control" required formControlName="code" type="text" name="code" id="code" placeholder="Código de vuelo">
        <div *ngIf="vueloForm.invalid && vueloForm.touched">
          <span *ngIf="vueloForm.controls['code'].errors?.['maxlength']">El código puede tener un máximo de 5 caracteres</span>
          <span *ngIf="vueloForm.controls['code'].errors?.['required']">El código es requerido</span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-control" required formControlName="origen" type="text" name="origen" id="origen" placeholder="Origen">
        <div *ngIf="vueloForm.invalid && vueloForm.touched">
          <span *ngIf="vueloForm.controls['origen'].errors?.['minlength']">El origen debe tener un minimo 4 caracteres</span>
          <span *ngIf="vueloForm.controls['origen'].errors?.['maxlength']">El origen puede tener un máximo 100 caracteres</span>
          <span *ngIf="vueloForm.controls['origen'].errors?.['required']">El origen es requerido</span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-control" required formControlName="destino" type="text" name="destino" id="destino" placeholder="Destino">
        <div *ngIf="vueloForm.invalid && vueloForm.touched">
          <span *ngIf="vueloForm.controls['destino'].errors?.['minlength']">El destino debe tener un minimo 4 caracteres</span>
          <span *ngIf="vueloForm.controls['destino'].errors?.['maxlength']">El destino puede tener un máximo 100 caracteres</span>
          <span *ngIf="vueloForm.controls['destino'].errors?.['required']">El destino es requerido</span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-control" required formControlName="acientos" type="number" name="acientos" id="acientos" placeholder="Cantidad de acientos">
        <div *ngIf="vueloForm.invalid && vueloForm.touched">
          <span *ngIf="vueloForm.controls['acientos'].errors?.['min']">El Número Minimo de acientos disponibles es 25 <br></span>
          <span *ngIf="vueloForm.controls['acientos'].errors?.['max']">El Número Maximo de acientos disponibles es 100 <br></span>
          <span *ngIf="vueloForm.controls['acientos'].errors?.['required']">La Cantidad de acientos es requerida</span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-control" required formControlName="fecha" type="date" name="fecha" id="fecha" placeholder="Fecha de vuelo">
        <div *ngIf="vueloForm.invalid && vueloForm.touched">
          <span *ngIf="vueloForm.controls['fecha'].errors?.['required']">La fecha y hora es requerida</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-success" [disabled]="vueloForm.invalid" type="submit">Registrarse</button>
    </div>
    <div class="row justify-content-center">
      <app-example (addVueloEvento)="test()"></app-example>
    </div>
    <div *ngIf="showData" class="row justify-content-center mt-4">
      <div *ngFor="let item of vuelos" class="col-3">
        <div class="card" style="cursor: pointer;" (click)="viewData(item.id)">
          <div class="card-header">
            <h4>{{item.code}}</h4>
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <p>Origen: <span>{{item.origen}}</span></p>
              </div>
              <div class="row">
                <p>Destino: <span>{{item.destino}}</span></p>
              </div>
              <div class="row">
                <p>Fecha: <span>{{item.fecha | date:'dd/MM/yyyy'}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
