<div class="container">
  <div class="row justify-content-center">
    <h2>Formulario Template</h2>
  </div>
  <br>
  <form #userForm="ngForm" (ngSubmit)="registrar(userForm)">
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <input class="form-control" #email="ngModel" [(ngModel)]="user.email" required type="email" name="email" id="email" placeholder="E-mail">
        <div *ngIf="userForm.invalid && userForm.touched" >
          <span *ngIf="email.errors?.['email']">El formato del E-mail no es el correcto</span>
          <span *ngIf="email.errors?.['required']">El E-mail es requerido</span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-control" #username="ngModel" [(ngModel)]="user.user" required minlength="4" type="text" name="username1" id="username1" placeholder="Nombre de usuario">
        <div *ngIf="userForm.invalid && userForm.touched">
          <span *ngIf="username.errors?.['minlength']">El nombre de usuario debe tener un minimo 4 caracteres</span>
          <span *ngIf="username.errors?.['required']">El nombre de usuario requerido</span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-control" #celular="ngModel" [(ngModel)]="user.phone" minlength="6" required type="tel" name="celular" id="celular" placeholder="Número Telefónico">
        <div *ngIf="userForm.invalid && userForm.touched">
          <span *ngIf="celular.errors?.['minlength']">El Número Telefónico debe tener un minimo 6 digitos <br></span>
          <span *ngIf="celular.errors?.['required']">El Número Telefónico es requerido</span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-control" #pass="ngModel" [(ngModel)]="user.password" pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])([A-Za-z\d$@$!%*?&]|[^ ]){8,15}$/" required type="password" name="pass" id="pass" placeholder="Contraseña">
        <div *ngIf="userForm.invalid && userForm.touched">
          <span *ngIf="pass.errors?.['required']">La Contraseña es requerida</span>
          <span *ngIf="pass.errors?.['pattern']">
            La contraseña debe contener:
            <br>
             - Un minimo de 8 caracteres
             <br>
             - Un maximo de 15 caracteres
             <br>
             - Al menos una letra mayúscula
             <br>
             - Al menos una letra minucula
             <br>
             - Al menos un dígito
             <br>
             - Al menos un caracter especial
          </span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <input class="form-check-input" #terms="ngModel" [(ngModel)]="isTerms" required="true"  type="checkbox" value="" name="terms" id="terms">
        <label class="form-check-label" for="terms">
          Aceptar Términos y Condiciones de Uso
        </label>
      </div>
    </div>
    <div class="row justify-content-center">
      <span *ngIf="terms.errors?.['required']">¡Los Términos y Condiciones de Uso deben ser aceptados!</span>
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-success" type="submit">Registrarse</button>
    </div>
    <div *ngIf="showData" class="row justify-content-center mt-4">
      <div class="col-6">
        <p class="text-center">{{user | json}}</p>
      </div>
    </div>
  </form>
</div>
