<h1 class="color-red titulo-1">Hola {{textoExtra}}!</h1>
<br>
<button class="btn" (mouseenter)="changeName()" (mouseleave)="changeName2()">Cambiar</button>
<br>
<div class="container">
  <div class="row">
    <div *ngFor="let item of array" class="col-2">
      <div class="card">
        <h4 *ngIf="!(item === 'Daniel')" class="text-center">{{item}}</h4>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div *ngFor="let item of array" class="col-2">
      <div [ngSwitch]="item">
        <div *ngSwitchCase="'Gabriela'" class="card card-custom"><h4 class="text-center">{{item}}</h4></div>
        <div *ngSwitchCase="'Carlos'" style="background-color: green !important;" class="card card-custom"><h4 class="text-center">Carlos José</h4></div>
        <div *ngSwitchDefault class="card"><h4 class="text-center">{{item}}</h4></div>
      </div>
    </div>
  </div>
</div>
